body {
    background-color:  #007a99;
    font-family: Arial, Helvetica, serif;

}
form{
    margin-left: 50px;
    margin-right: 50px;
}
#signupform{
	background-color: #ebebe0;
	border: 1px solid white;
    border-radius: 10px;
	font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;

}
h1{
     padding-top:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

#registerheader{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left:50px;
    padding-bottom:10px;
    color:white;
}
.imgcontainer{
    width:10%;
    height:1vh;
    background-image:url(images/logo.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    text-align: center;
}
#first{
    font-size:18;
    width:300px;
    height:30px;
}
#last{
    font-size:18;
    width:300px;
    height:30px;
    }
 #user{
    font-size:18;
    width:300px;
    height:30px;
    }
#email{
    font-size:18;
    width:300px;
    height:30px;
    }
#pass{
    font-size:18;
    width:300px;
    height:30px;
    }
#btn{
    width: 90px;
    height:30px;
    background-color: limegreen;
    border-radius:10px;

}
