body{
    font-family: Arial, Helvetica, serif;
}    
.container{
    padding: 50px;
}

form{
    width: 80%;
    margin-left: 10%;
}
select{
    width: 100%;
    height: 40px;
    border-radius: 2px;
}
textarea{
    width: 100%;
    border-radius: 2px;
}
option{
    text-align: center;
    font-size: 18px;
}
input{
    width: 200px;
    height: 50px;
    background-color: limegreen;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    margin-left: 150;
}
ul{
    list-style-type: none;
    background-color:#007a99;
    height: 60px;
    padding: 10px;
    
}
li{
    display: inline;
}
a{
    color:white;
    letter-spacing: 1px;
}
.nav-bar{
    position: absolute;
    right: 50px;
    top: 55px;
}
.right-nav{
    position: absolute;
    left: 230px;
    top: 55px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#myBtn {
    position: fixed; /* Fixed/sticky position */
    top: 100px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#req-div{
    background-color:#c2d6d6;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}
